@import "tailwindcss";

h1,
h2,
h3,
.logo,
.stat-num {
    font-family: 'Bebas Neue', sans-serif;
}

body {
    background-color: #0B0B0B;
}

/* Bebas Neue */
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* DM Mono — Regular */
@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* DM Mono — Regular Italic */
@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* DM Mono — Light */
@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* DM Mono — Light Italic */
@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* DM Mono — Medium */
@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* DM Mono — Medium Italic */
@font-face {
    font-family: 'DM Mono';
    src: url('/fonts/DMMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

body,
p,
nav,
.tag,
input {
    font-family: 'DM Mono', monospace;
}

@theme {
    --font-display: "Bebas Neue", sans-serif;
    --font-mono: "DM Mono", monospace;
}

/* Ссылки в About — underline с анимацией слева направо */
.about-text a[href^="http"] {
    background-image: linear-gradient(#f87171, #f87171);
    background-size: 0% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
}

.about-text a[href^="http"]:hover {
    background-size: 100% 1px;
}

